<h1>hola ESTOY EN HOME!!</h1>

<form method="GET" action="/category-search">
<input name="search" type="text"/>
<button type="submit"> Search a product </button>
</form>
<a href="/products">Listado</a>


 