<h1>Register</h1>

<form action="/users" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">name</label>
    <input type="text" value="{{user.name}}" name="name"  id="name">
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">email</label>
    <input type="email" value="{{user.email}}" name="email"  id="email"> 
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">password</label>
    <input type="password" value="{{user.password}}" name="password"  id="password">
  </div>

  
  <button type="submit" class="btn btn-primary">Create</button>
</form>